* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
}
h1 {
    color: white;
    background-color: green;
    width: 100%;
    padding: 8px 16px;


}

.block, label {
    display: block;
}

textarea {
    width: 90%;
}

label {
    margin-bottom: 8px;
    font-weight: bold;

}
input {
    margin-right: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    padding: 4px 16px;
}

form {
    margin: 16px;
}

span.vermelho {
    color: red;

}

 button {
    margin: 24px auto;
    color: white;
    background-color: green;
    padding: 8px 16px; 
    border: none;
 }